<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Shawn's Site</title>
		<link rel="stylesheet" href="/css/mainstyles.css">
		<link rel="stylesheet" href="/css/nav.css">
		<link rel="stylesheet" href="/css/home.css">
		<script src="js/nav.js" type="module" defer></script>
	</head>
	<body>
		<div id="navContainer"></div>
		<header class="padding-left">
			<div class="header-text">
				<h1>Shawn Suttie</h1>
				<h2>Senior | Computer Science | Aspiring Web Developer <br> Currently enrolled at Oakland University</h2>
			</div>			
		</header>
		<div class="main-wrapper">
			<main>	
				
			</main>
			<section>
				<h1 class="padding-left project-section-header">Projects</h1>
			</section>
		</div>
		<footer class="padding-left">
			<div class="footer-text">
				<p>shawnathon4@gmail.com</p>
			</div>
		</footer>
	</body>
</html>
