<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/resume.css">
	</head>
	<body>
		<header>
			<div class="header-text">
				<h1>Shawn Suttie</h1>
				<h2>Senior | Computer Science</h2>
			</div>			
		</header>
		<div class="main-wrapper">
			<main>	
				<p>Currently enrolled at Oakland University</p>	
				<br>
				<h4 style="text-decoration: underline;">Projects</h4>
				
			</main>
		</div>
		<footer>
			<div class="footer-text">
				<p>shawnathon4@gmail.com | (248) 207-3583 | 100 Montmorency Rd., Rochester Hills, MI, 48307</p>
			</div>
		</footer>
	</body>
</html>
