<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
	<link rel="stylesheet" href="/css/mainstyles.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/showcase.css">
	<link rel="stylesheet" href="/css/show1-1.css">
	<link rel="stylesheet" href="/css/show1-2.css">
	<link rel="stylesheet" href="/css/show1-3.css">
	<link rel="stylesheet" href="/css/show2.css">
	<link rel="stylesheet" href="/css/show3.css">
	<link rel="stylesheet" href="/css/show4.css">
	<link rel="stylesheet" href="/css/show5.css">
	<script src="js/nav.js" type="module" defer></script>
	<script src="js/show4.js" defer></script>
	<script src="js/show5.js" defer></script>
</head>
<body>
	<div id="navContainer"></div>
	<header class="flex-center">
		<h1>Welcome to my showcase!</h1>	
		<h3>Here you will find many neat and nifty elements that display the quality and character of my work<br>Hover over elements to see their effects!</h3>
	</header>
	<section class="section1 flex-center">
		<div class="sectionblur flex-center">
			<div class="scrollfade flex-center">
				<div class="gratia outer flex-center">
					<div class="middle flex-center">
						 <div class="inner flex-center">
							<h1>GRACE ALONE</h1>	
						 </div>
					</div>	
				</div>
				<div class="fide overflow flex-center">
					<div class="fide outer flex-center">
						<div class="inner flex-center">
							<h1>FAITH ALONE</h1>	
						</div>
					</div>
				</div>
				<div class="christus outer flex-center">
					<div class="middle flex-center">
						 <div class="inner flex-center">
							<h1>CHRIST ALONE</h1>	
						 </div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	<section class="section2 flex-center">
		<div class="sectionblur flex-center">
		<div class="scrollfade flex-center">
				<div class="show2-wrapper flex-center">
					<div class="carousel-wrapper">
						<div class="upper-fade"></div>
							<h1>JESUS <div class="carousel"><span>WORKS</span><span>LOVES</span><span>SAVES</span><span>LIVES</span><span>WORKS</span></div></h1>
						<div class="lower-fade"></div>
					</div>
				</div>
		</div>
		</div>
	</section>
	<section class="section3 flex-center">
		<div class="sectionblur flex-center">
		<div class="scrollfade flex-center">
				<div class="flex-center">
					<h1>Amen</h1>	
				</div>	
		</div>	
		</div>	
	</section>	
	<section class="section4 flex-center">
		<div class="sectionblur flex-center">
		<div class="scrollfade flex-center">
				<div class="show4-wrapper flex-center" id="show4Wrapper">
					<div class="syllables">HAL</div>
					<div class="syllables">LE</div>
					<div class="syllables">LU</div>
					<div class="syllables">JAH!</div>
				</div>	
		</div>	
		</div>	
	</section>	
	<section class="section4 flex-center">
		<div class="sectionblur flex-center">
		<div class="scrollfade flex-center">
			<div class='idk flex-center' id='divGrad'>
				<h1></h1>
			</div>
		</div>
		</div>
	</section>	
</body>
</html>
