@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed';
}

.padding-left {
	padding-left: 30px;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
